<div class="header">
  <nav class="navigation">
    <div>
      <a href="#" class="logoLink">
        <img src="../assets/images/logo.png" 
             width="136" height="136" 
             alt="Logo firmy Pomoc psychologiczna On-Line Help"
        />
      </a>
    </div>
    <div class="name">
      Pomoc psychologiczna <br>
      On-Line Help  
    </div>
    <ul class="navList">
      <li class="listItem">
        <a href="#">Strona główna</a>
      </li>
      <li class="listItem">
        <a href="#">O Poradni</a>
      </li>
      <li class="listItem">
        <a href="#">Zespół</a>
      </li>
     <li class="listItem">
        <a href="#">Oferta</a>
      </li>  
      <li class="listItem">
        <a href="#">Terminy</a>
      </li>  
      <li class="listItem">
        <a href="#">Kontakt</a>
      </li>  
    </ul>
  </nav>
</div>
<footer>
  footer
</footer>