# See http://help.github.com/ignore-files/ for more about ignoring files.
backend/HELP.md
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
backend/.idea
frontned/.idea
**/.idea/

### VS Code ###
.vscode/
backend/.vscode/
frontned/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
frontend/node_modules/*
frontend/npm-debug.log
frontend/yarn-error.log

# Miscellaneous
frontend/.angular/cache/*
frontend/.sass-cache/*
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings

# System files
frontend/.DS_Store
frontend/Thumbs.db
