.homeContainerOutside {
  display: flex;
  justify-content: center;
}
.homeContainer {
  background-color: white;
  margin-top: 5px;
  height: 650px;
  width: 1140px;
  align-items: center;
}
.outerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.leftContainerForAboutJpg {
  background-image: url(../../../assets/images/about.jpg);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
  width: 460px;
  height: 620px;
}
.rightContainer {
  width: 680px;
  height: 620px;
  padding: 50px 30px 0 50px;
}
.rightContainer h1 {
  text-align: center;
}
.rightContainer p {
  margin-bottom: 1.6em;
  line-height: 28px;
}
.rightContainer p a {
  color: #1877F2;
  text-decoration: none;
}
