<div class="homeContainerOutside">
  <div class="homeContainer">
    <div class="outerContainer">
      <div class="leftContainerForAboutJpg"></div>
      <div class="rightContainer">
        <hr style="height:2px;width:50px;color:black;background-color:black;border-width:0"> 
        <h1>O poradni</h1>
        <p>
        Poradnia „Pomoc psychologiczna On-Line Help” istnieje od 2010 roku. 
        Od tego czasu nasi specjaliści pomogli setkom osób w kryzysach psychicznych z którymi się do nas zgłosili.  
        Obecnie strona naszej poradni na facebooku ma już ponad 19 000 polubień i liczba ta stale rośnie.  
        Wiele z osób, które polubiły stronę 
        <a href="https://www.facebook.com/pomoc.psychologiczna.online.help/">Pomoc psychologiczna On-Line Help</a> 
        skorzystało z naszej oferty przez internet. 
        Są to Polacy mieszkający w Anglii, Niemczech, USA, Norwegii, Danii, Szwajcarii, Australii, Holandii, Irlandii, Austrii, Szwajcarii, Czech, Francji oraz Polski.
        </p>
        <p>
        Strona naszej poradni na facebooku jest również platformą gdzie możecie się Państwo zapoznać z ciekawymi artykułami z dziedziny psychologii oraz psychoterapii min. dotyczącymi różnych problemów z którymi zgłaszają się pacjenci do psychologa czy psychoterapeuty. 
        Dla wielu osób
        <a href="https://www.facebook.com/pomoc.psychologiczna.online.help/">Pomoc psychologiczna On-Line Help</a> 
        jest także przestrzenią do wymiany  myśli czy dzieleniem się swoimi doświadczeniami.
        </p>
        <p>
        Zapraszamy do zainteresowania się naszą poradnią na facebooku oraz polubienia naszej strony
        <a href="https://www.facebook.com/pomoc.psychologiczna.online.help/">Pomoc psychologiczna On-Line Help</a> 
        dzięki czemu będziecie Państwo na bieżąco z ciekawymi artykułami oraz postami. 
        Dziękujemy.
        </p>
      </div>  
    </div>
  </div>
</div>
