.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeContainer h1 {
  line-height: 2px;
}
.homeContainer h2 {
  font-family: "Montserrat-Bold", Sans-serif;
  font-weight: 100;
  padding-bottom: 10px;
}
.homeContainer hr {
  margin: 30px 0 20px 0;
}
.outerContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.leftContact, .rightMessage {
  height: 400px;
}
.leftContact { 
  background-color: #d6d6d6;
  width: 435px; 
}
.rightMessage { 
  background-color: white;
  width: 705px; 
}
.rightMessage, .leftContact {
  border: 1px solid gray;
  height: 398px;
}
.rightMessage form h2, .leftContact h2 {
  font-size: 30px;
  line-height: 39px;
}
.rightMessage .form .row label {
  display: block;
  font-weight: 700;
}
.leftContactInside, .rightContactInside {
  margin: 40px 30px 30px 50px;
}
.leftContactInside h1 {
  padding-bottom: 5px;
}
.leftContactInside ul {
  padding-top: 15px;
  list-style: none;
  margin-left: -40px;
}
.leftContactInside ul li {
  line-height: 39px;
}
.leftContactInside ul li mat-icon {
  position: relative;
  top: 6px;
}
