<div class="homeContainerOutside">
  <div class="homeContainer">
    <h1>
      Nie czekaj!
    </h1>
    <h1>
      Zadzwoń do nas lub napisz wiadomość.
    </h1>
    <hr style="height:2px;width:50px;color:black;background-color:black;border-width:0">
    <h2>      
      Psycholog online
    </h2>
  </div>

  <div class="outerContainer">
    <div class="leftContact">
      <div class="leftContactInside">
        <h1>Kontakt</h1>
        <hr style="width:14%;margin-left:0;color:black;background-color:black;height:2px;border-width:0;">
      </div>
      
    </div>
    <div class="rightMessage">
      <div class="rightContactInside">
        <form class="form" (ngSubmit)="send()">
          <h1>Wiadomość</h1>
          <hr style="width:14%;margin-left:0;color:black;background-color:black;height:2px;border-width:0;">
          <div class="row">
              <label for="name">Imię i Nazwisko / Nick</label>
              <input type="text" placeholder="Wpisz swoje imię i Nazwisko / Nick" id="name" [(ngModel)]="message.name" name="name">
          </div>
          <div class="row">
              <label for="email">Adres Email</label>
              <input type="text" placeholder="Wpisz swój adres Email" id="email" [(ngModel)]="message.email" name="email">
          </div>
          <div class="row">
              <label for="content">Wiadomość</label>
              <input type="textarea" placeholder="Napisz wiadomość do Nas" id="content" [(ngModel)]="message.content" name="content">
          </div>
          <button type="submit">Wyślij wiadomość</button>
        </form>
      </div>
    </div>
  </div>
</div>
