<div class="homeContainerOutside">
  <div class="homeContainer">
    <p>
      Nie czekaj!
    </p>
    <p>
      Zadzwoń do nas lub napisz wiadomość.
    </p>
    <p>      
      Psycholog online
    </p>
  </div>

  <div class="outerContainer">
    <div class="leftContact">
      <h2>Kontakt</h2>
    </div>
    <div class="rightMessage">
      <form class="form" (ngSubmit)="send()">
        <h2>Wiadomość</h2>
        <div class="row">
            <label for="name">Imię i Nazwisko / Nick</label>
            <input type="text" placeholder="Wpisz swoje imię i Nazwisko / Nick" id="name" [(ngModel)]="message.name" name="name">
        </div>
        <div class="row">
            <label for="email">Adres Email</label>
            <input type="text" placeholder="Wpisz swój adres Email" id="email" [(ngModel)]="message.email" name="email">
        </div>
        <div class="row">
            <label for="content">Wiadomość</label>
            <input type="textarea" placeholder="Napisz wiadomość do Nas" id="content" [(ngModel)]="message.content" name="content">
        </div>
        <button type="submit">Wyślij wiadomość</button>
      </form>
    </div>
  </div>
</div>
