.homeContainerOutside {
    display: flex;
    justify-content: center;
}
.homeContainer {
    display: flex;
    background-color: white;
    margin-top: 5px;
    height: 500px;
    width: 50%;
    justify-content: left;
    align-items: center;
}
form {
    width: 310px;
    margin-top: 20px;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    line-height: 1.6em;
}
form .h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
}
label {
    display: block;
    font-weight: 700;
    float: none;
    word-break: break-word;
    word-wrap: break-word;
}