<div class="homeContainerOutside">
  <div class="homeContainer">
    <div class="upperContainer">
      <hr style="height:2px;width:50px;color:black;background-color:black;border-width:0">
      <h1>Nasza oferta</h1>
    </div>
    <div class="outerContainer">
      <div class="leftContainer">
        <p>Konsultacje oraz sesje odbywają się przez internet-videopołączenia (messenger, Skype, Whats App)</p>
        <p>Pracujemy z osobami, które:
        <li>
        cierpią na depresję, zaburzenia lękowe w tym ataki paniki
        </li>
        <li>
        doświadczają kryzysu w związku, są w trakcie lub po rozwodzie/rozstaniu
        </li>
        <li>
        mają problemy z alkoholem, nadużywają go . Są uzależnione od narkotyków, hazardu.
        </li>
        <li>
        mają zaburzenia odżywiania (anoreksja, bulimia, otyłość)
        </li>
        <li>
        doświadczają przemocy psychicznej, fizycznej w związku / rodzinie lub mobbingu w pracy
        </li>
        <li>
        są w bliskim związku z osobą uzależnioną
        </li>
        <li>
        mają objawy syndromu DDA/DDD (Dorosłe Dzieci Alkoholików/Dorosłe Dzieci z Rodzin Dysfunkcjonalnych)
        </li>
        <li>
        doświadczyły śmierci bliskiej sobie osoby i przeżywają żałobę z którą trudno jest im sobie poradzić (pracujemy również z kobietami, które poroniły)
        </li>
        <li>
        borykają się z problemem niepłodności
        </li>
        </p>
      </div>
      <div class="rightContainerForLaptopJpg"></div>
    </div>
    <div class="lowerContainer">
      <p>
      Od 2010 roku pracujemy z Polakami na całym świecie.
      </p>
      <p>
      ZAPISY ODBYWAJĄ SIĘ POPRZEZ wysłanie formularza zgłoszeniowego w zakładce Kontakt lub poprzez wysłanie wiadomości na Whats Appie na nazwisko Magdalena Staszewska +48 603 445 335
      </p>
      <p>
      PIERWSZA KONSULTACJA o 49% TANIEJ czyli 100 zł lub 24 EUR lub 21 GBP lub 27 USD
      </p>
      <p>
      KOSZT JEDNEJ KONSULTACJI / SESJI
      </p>
      <p>
      INDYWIDUALNEJ: 48 EURO, 41 GBP, 55 USD, 80 AUD, 70 CAD, 195 PLN za jedno spotkanie 50 min.
      </p>
      <p>
      PARY:  85 EURO, 70 GBP,  350 PLN za jedno spotkanie 50 min
      </p>
      <p>
      PSYCHOTERAPIA - to specjalistyczna metoda polegająca na celowym, świadomym oddziaływaniu psychologicznym, w celu usunięcia objawów, jak również ich przyczyn. Psychoterapia jest metodą leczenia opartą przede wszystkim na specyficznym kontakcie pacjenta z terapeutą. Kontakt ten przebiega w ściśle określonych ramach ( termin, miejsce, czas trwania sesji) Psychoterapia dotyczyć może zarówno ludzi chorych, jak i tych, którzy chcą się rozwijać, chcą dowiedzieć się o sobie czegoś więcej.
      </p>
      <p>
      Rozpoczęcie psychoterapii poprzedza konsultacja.
      </p>
      <p>
      KONSULTACJE - jedno do czterech spotkań wstępnych z psychologiem/psychoterapeutą, które pozwalają na określenie problemu i zaproponowanie najbardziej odpowiedniej formy pomocy psychoterapeutycznej. Pojedyncza konsultacja trwa około 50 min.
      </p>
      <p>
      PSYCHOTERAPIA - SESJE INDYWIDUALNE to rodzaj współpracy, w której pacjent po wstępnych konsultacjach decyduje o pracy nad sobą w celu osobistego rozwoju. Warunki sesji ustalane są indywidualnie, w rozmowie z psychoterapeutą. Sesje psychoterapii trwają 50 min
      </p>
      <p>
      PSYCHOTERAPIA DZIECI I MŁODZIEŻY  pracujemy z dziećmi w wieku od 10 lat w wzwyż. Najpierw jest ustalana konsultacja z rodzicem/rodzicami. Kolejna konsultacja jest z dzieckiem. Gdy potrzebne jest wsparcie psychologiczne czy też psychoterapia to pomoc odbywa się poprzez pracę zarówno z rodzicem/rodzicami jak i dzieckiem
      </p>
      <p>
      PSYCHOTERAPIA - SESJE PARY Terapia par może służyć budowaniu porozumienia i relacji w sytuacji, gdy para chce być razem i pracować nad swoim związkiem, ale także wtedy, gdy planuje się rozstać i potrzebuje zbudować porozumienie pozwalające na skuteczne dzielenie się opieką nad dziećmi. Pierwsze spotkanie ma charakter konsultacji wstępnej, dotyczącej Państwa potrzeb i oczekiwań.
      </p>
    </div>
  </div>
</div>
