.homeContainerOutside {
  display: flex;
  justify-content: center;
}
.homeContainer {
  background-color: white;
  margin-top: 5px;
  height: 1300px;
  width: 1140px;
  align-items: center;
}
.upperContainer {
  height: 20px;
  width: 1140px;
}
.upperContainer hr {
  margin-bottom: 1.6em;
  line-height: 28px;
}
.upperContainer h1 {
  text-align: center;
}
.outerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.leftContainer {
  width: 680px;
  height: 570px;
  padding: 50px 30px 0 60px;
}
.rightContainerForLaptopJpg {
  background-image: url(../../../assets/images/laptop.jpg);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
  width: 460px;
  height: 600px;
}
.lowerContainer {
  height: 630px;
  width: 1140px;
}
