.homeContainerOutside {
  display: flex;
  justify-content: center;
}
.homeContainer {
  background-color: white;
  margin-top: 5px;
  height: 1540px;
  width: 1140px;
  align-items: center;
}
.upperContainer {
  margin-top: 35px;
  height: 20px;
  width: 1140px;
}
.upperContainer hr {
  margin-bottom: 15px;
  line-height: 28px;
}
.upperContainer h1 {
  font-family: "Montserrat-Bold";
  text-align: center;
}
.outerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 130px 10px 98px;
}
.leftContainer {
  width: 680px;
  height: 570px;
  padding: 50px 30px 0 60px;
  line-height: 28px;
}
.leftContainer .subtitle {
  font-family: "Montserrat-Bold", Sans-serif;
  font-size: 15px;
  text-align: center;
}
.leftContainer .listTitle {
  font-family: "Montserrat-Bold", Sans-serif;
  font-size: 15px;
  text-align: center;
  color: #1877F2;
}
.rightContainerForLaptopJpg {
  background-image: url(../../../assets/images/laptop.jpg);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
  width: 460px;
  height: 600px;
}
.lowerContainer {
  width: 875px;
  padding: 0 0px 100px 130px;
  line-height: 24px;
  word-spacing: 3px;
}
.lowerContainer a {
  font-family: "Montserrat-Bold", Sans-serif;
}
.lowerContainer .red {
  color: red;
}
