<div class="homeContainerOutside">
  <div class="homeContainer">
    <div class="upperContainer">
      <hr style="height:2px;width:50px;color:black;background-color:black;border-width:0">
      <h1>Nasza oferta</h1>
    </div>
    <div class="outerContainer">
      <div class="leftContainer">
        <p>Konsultacje oraz sesje odbywają się przez internet-videopołączenia (messenger, Skype, Whats App)</p>
        <p>Pracujemy z osobami, które:
        <li>
        cierpią na depresję, zaburzenia lękowe w tym ataki paniki
        </li>
        <li>
        doświadczają kryzysu w związku, są w trakcie lub po rozwodzie/rozstaniu
        </li>
        <li>
        mają problemy z alkoholem, nadużywają go . Są uzależnione od narkotyków, hazardu.
        </li>
        <li>
        mają zaburzenia odżywiania (anoreksja, bulimia, otyłość)
        </li>
        <li>
        doświadczają przemocy psychicznej, fizycznej w związku / rodzinie lub mobbingu w pracy
        </li>
        <li>
        są w bliskim związku z osobą uzależnioną
        </li>
        <li>
        mają objawy syndromu DDA/DDD (Dorosłe Dzieci Alkoholików/Dorosłe Dzieci z Rodzin Dysfunkcjonalnych)
        </li>
        <li>
        doświadczyły śmierci bliskiej sobie osoby i przeżywają żałobę z którą trudno jest im sobie poradzić (pracujemy również z kobietami, które poroniły)
        </li>
        <li>
        borykają się z problemem niepłodności
        </li>
        </p>
      </div>
      <div class="rightContainerForLaptopJpg"></div>
    </div>
  </div>
</div>
