.header {
    display: flex;
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    justify-content: center;
}
.navigation {
    display: flex;
    background-color: #0170B9;
    margin-top: 85px;
    height: 140px;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.navigation a {
    color: #FFFFFF;
    text-decoration: none;
}
.navigation a:hover {
  color: aqua;
}
.name {
  font-family: "Paprika", Sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}
.listItem {
    display: inline-block;
    padding: 0 18px;
}
.spaceUnderBackgroundImage {
    height: 50px;
}