<div class="header">
    <nav class="navigation">
      <div>
        <a href="#" class="logoLink">
          <img src="../../assets/images/logo.png" 
               width="136" height="136" 
               alt="Logo firmy Pomoc psychologiczna On-Line Help"
          />
        </a>
      </div>
      <div class="name">
        Pomoc psychologiczna <br>
        On-Line Help  
      </div>
      <ul class="navList">
        <li class="listItem">
          <a routerLink="">Strona główna</a>
        </li>
        <li class="listItem">
          <a routerLink="o-poradni">O Poradni</a>
        </li>
        <li class="listItem">
          <a routerLink="zespol">Zespół</a>
        </li>
       <li class="listItem">
          <a routerLink="oferta">Oferta</a>
        </li>  
        <li class="listItem">
          <a routerLink="terminy">Terminy</a>
        </li>  
        <li class="listItem">
          <a routerLink="kontakt">Kontakt</a>
        </li>  
      </ul>
    </nav>
  </div>

  <div class="spaceUnderBackgroundImage">
  </div>
