<div class="homeContainerOutside">
  <div class="homeContainer">
    <div class="info">
      <h3>
        <p>
        JEŚLI CHCESZ WIEDZIEĆ WIĘCEJ O NASZEJ OFERCIE LUB CHCESZ SIĘ ZAPISAĆ
        </p>
        <p>
        NA KONSULTACJĘ - WYŚLIJ DO NAS WIADOMOŚĆ PRZEZ PONIŻSZY FORMULARZ 
        </p>
        <p>
        KONTAKTOWY.
        </p>
      </h3>
      <h3>
        <p>
        UWAGA! PRZED WYSŁANIEM SPRAWDŹ POPRAWNOŚĆ WPISANYCH DANYCH
        </p>
      </h3>
    </div>

    <div class="contactInfoContainer">
      <ul>
        <li>
          <mat-icon aria-hidden="false" aria-label="Phone number" fontIcon="phone"></mat-icon>
          +48 603 445 335
        </li>
        <li>
          <mat-icon aria-hidden="false" aria-label="Email address" fontIcon="mailto"></mat-icon>
          magdalenastasz&#64;op.pl
        </li>
        <li>
          <mat-icon aria-hidden="false" aria-label="Facebook contact" fontIcon="facebook"></mat-icon>
          Pomoc psychologiczna On-Line Help
        </li>
      </ul>
    </div>

    <div class="lowerContainerForWillowPng">
    </div>
  </div>
</div>
