.homeContainerOutside {
  display: flex;
  justify-content: center;
}
.homeContainer {
  margin-top: 5px;
  padding: 10px 10px 0px 10px;
  background-color: white;
  height: 800px;
  width: 940px;
}
.info {
  align-items: center;
  font-family: "Montserrat-Bold", Sans-serif;
  font-size: 16px;
  line-height: 7px;
  word-spacing: 2.5px;
}
.info h3 {
  padding: 8px 0 0 0;
  text-align: center;
}
.contactInfoContainer {
  height: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.contactInfoContainer ul {
  display: flex;
  list-style: none;
}
.contactInfoContainer ul li {
  padding: 0 10px;
}
.contactInfoContainer ul li mat-icon {
  position: relative;
  top: 6px;
}
.lowerContainerForWillowPng {
  background-image: url(../../../assets/images/willow.png);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
}
