<div class="homeContainerOutside">
  <div class="homeContainer">
    <div class="insideContainer">
      <h4>
      Warto szukać psychoterapeutów spełniających poniższe kryteria.
      </h4>
      <ul>
      <li>
      ukończone 4-letnie szkolenie w zakresie psychoterapii dające prawo do wykonywania zawodu psychoterapeuty
      </li>
      <li>
      wieloletnie doświadczenie zawodowe również w placówkach państwowych jak i ngo - doświadczenie które daje wiedzę i umiejętność w pracy z szerokim spektrum problemów z jakimi może zgłosić się pacjent w prywatnej instytucji
      </li>
      <li>
      odbyta własna, nierzadko wieloletnia psychoterapia szkoleniowa
      </li>
      <li>
      praca od wielu lat pod stałą superwizją indywidualną jak i grupową
      </li>
      </ul>
      <h4>
      NASI PSYCHOTERAPEUCI SPEŁNIAJĄ WSZYSTKIE POWYŻSZE KRYTERIA. POZNAJCIE ICH:
      </h4>
    </div>
  </div>
</div>
