<footer>
  <div class="contactInfoContainer">
    <ul>
      <li>
        <mat-icon aria-hidden="false" aria-label="Phone number" fontIcon="phone"></mat-icon>
        +48 603 445 335
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="Email address" fontIcon="mailto"></mat-icon>
        magdalenastasz&#64;op.pl
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="Facebook contact" fontIcon="facebook"></mat-icon>
        Facebook
      </li>
    </ul>
  </div>

  <ul class="footerCopyrightContainer">
    <li>
      Copyright &copy; 2024 Pomoc psychologiczna On-Line Help
    </li>
    <li>
      Wykonanie strony: Joanna Jaroszewska | Polityka prywatności
    </li>
  </ul>
</footer>
