footer {
  background-color: #0170B9;
  color: #FFFFFF;
}
.contactInfoContainer {
  height: 50px;
  width: 600px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.contactInfoContainer ul {
  display: flex;
  list-style: none;
}
.contactInfoContainer ul li {
  padding: 0 16px;
}
.contactInfoContainer ul li mat-icon {
  position: relative;
  top: 6px;
}
.footerCopyrightContainer {
  list-style: none;
  padding-bottom: 35px;
}
.footerCopyrightContainer li {
  text-align: center;
  padding: 7px 0;
}
